.welcome {
  margin-top: 36px;
  margin-bottom: 50px;
  padding: 0px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media all and (min-width: 1440px) {
    margin-top: 70px;
    flex-direction: row-reverse;
    padding: 0px 150px;
    margin-bottom: 100px;
  }

  .imageBlock {
    position: relative;
    z-index: 10;
    padding: 0px 27px;
    @media all and (min-width: 1440px) {
      margin-left: 97px;
      flex-basis: calc(100% - 15px);

      display: flex;
      justify-content: flex-end;
    }
  }

  .textBlock {
    position: relative;
    z-index: 11;
    margin-top: 57px;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media all and (min-width: 1440px) {
      align-items: normal;
      margin-top: 0px;
      flex-basis: calc(100% - 15px);
    }

    .title {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media all and (min-width: 1440px) {
        align-items: normal;
      }

      p {
        font-family: Poppins;
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 125%;
        @media all and (min-width: 1440px) {
          font-size: 64px;
        }
      }

      p:first-child {
        color: #FFFFFF;
      }

      p:last-child {
        background-color: #f3ec78;
        background-image: linear-gradient(45deg, #A6C17B 12.01%, #E1A56A 58.98%, #D4517F 100%);
        background-size: 100%;
        -webkit-background-clip: text;
        //-moz-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-text-fill-color: transparent;
      }
    }

    .description {
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 180%;
      text-align: center;
      color: #D1D3DC;
      margin-top: 16px;
      @media all and (min-width: 1440px) {
        margin-top: 36px;
        text-align: left;
        font-size: 18px;
      }
    }

    .link {
      text-decoration: none;
      width: 138px;
      height: 52px;
      border-radius: 8px;
      font-family: Poppins;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      margin-top: 26px;
      transition: all 0.3s;
      background: #DE8F70;
      &:hover {
        background: #BCC17B;
      }

      @media all and (min-width: 1440px) {
        margin-top: 56px;
        width: 188px;
        height: 62px;
      }



    }


  }


}