.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0 17px;

  @media all and (min-width: 1440px) {
    flex-direction: row-reverse;
    padding: 0 150px 52px;
  }

  .rights {
    font-family: Poppins;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 180%;
    color: #D1D3DC;
    padding: 0 40px;
    margin-top: 50px;
    text-align: center;
    @media all and (min-width: 1440px) {
      font-size: 16px;
      line-height: 150%;
      padding: 0;
      margin-top: 0;
      text-align: left;
    }

  }

  .linksBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media all and (min-width: 1440px) {
      flex-grow: 1;
      flex-direction: row-reverse;
      justify-content: space-between;
    }

    .private {
      text-decoration: none;
      font-family: Poppins;
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 26px;
      text-align: center;
      color: #FFFFFF;
      margin-top: 26px;
      @media all and (min-width: 1440px) {
        margin-left: 40px;
        margin-top: 0px;
        font-size: 16px;
        line-height: 150%;
        color: #D1D3DC;
      }
    }

    .links {
      display: flex;
      flex-direction: column;
      align-items: center;
      @media all and (min-width: 1440px) {
        flex-direction: row;
      }

      .link {
        text-decoration: none;
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 26px;
        transition: all 0.3s;

        &:not(:first-child) {
          margin-top: 26px;
          @media all and (min-width: 1440px) {
            margin-top: 0px;
            margin-left: 34px;
          }
        }

        &:hover {
          color: rgb(222, 143, 112);
          //background-color: #f3ec78;
          //background-image: linear-gradient(45deg, #A6C17B 12.01%, #E1A56A 58.98%, #D4517F 100%);
          //background-size: 100%;
          //-webkit-background-clip: text;
          //-webkit-text-fill-color: transparent;
          //-moz-text-fill-color: transparent;
        }

        @media all and (min-width: 1440px) {
          font-size: 16px;
          line-height: 26px;
        }

      }

    }

  }

}