.about {
  padding: 50px 16px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;


  @media all and (min-width: 1440px) {
    flex-direction: row;
    padding: 100px 150px;
    align-items: center;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 30px;

  }

  .firstBlock {
    transition: 0.3s;
    @media all and (min-width: 1440px) {
      transform: translateY(150%);
    }

    &_intersected {
      @media all and (min-width: 1440px) {
        transform: translateY(0%);
      }
    }

    .innerWrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      transition: 0.3s;
      box-sizing: border-box;

      @media all and (min-width: 1440px) {
        align-items: normal;
      }

      @media all and (max-width: 1439px) {
        transform: translateX(150%);
      }

      &_intersected {
        @media all and (max-width: 1439px) {
          transform: translateX(0%);
        }
      }



      .img {
        display: block;
        width: 100%;
        border-radius: 10px;
        margin-top: 30px;

        @media all and (min-width: 1440px) {
          margin-top: 0px;
          width: 460px;
          height: auto;
        }
      }

      .title {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 30px;
        line-height: 125%;
        color: #FFFFFF;
        @media all and (min-width: 1440px) {
          display: none;
        }

        span:first-child {
          color: rgb(183, 186, 119);
          white-space: pre-wrap;
        }

      }
    }



  }

  .secondBlock {
    margin-top: 30px;
    transition: 0.3s;

    @media all and (min-width: 1440px) {
      transform: translateY(150%);
    }

    @media all and (min-width: 1440px) {
      margin-top: 0px;
    }

    &_intersected {
      @media all and (min-width: 1440px) {
        transform: translateY(0%);
      }
    }

    .innerWrapper {
      width: 100%;
      height: 100%;
      transition: 0.3s;

      @media all and (max-width: 1439px) {
        transform: translateX(150%);
      }

      &_intersected {
        @media all and (max-width: 1439px) {
          transform: translateX(0%);
        }
      }

      .title {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 54px;
        line-height: 125%;
        color: #FFFFFF;
        display: none;
        @media all and (min-width: 1440px) {
          display: block;
        }

        span:first-child {
          color: rgb(183, 186, 119);
          white-space: pre-wrap;
        }
      }

      .text {
        font-family: Poppins;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 180%;
        color: #D1D3DC;
        @media all and (min-width: 1440px) {
          margin-top: 30px;
          font-size: 16px;
        }
      }

      .button {
        border: none;
        cursor: pointer;
        padding: 19px 17px;
        background: #DE8F70;
        border-radius: 8px;
        font-family: Poppins;
        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        letter-spacing: 0.04em;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 24px;
        transition: all 0.3s;

        @media all and (min-width: 1440px) {
          margin-top: 44px;
          padding: 24px 26px;

        }

        &:hover {
          background: #BCC17B;
        }
      }
    }


  }

}